{% extends 'base.html.twig' %}
{% block body %}
    <nav id="nav_admin" class="navbar-light bg-light">
        <ul class="d-flex justify-content-center" id="navBar">
            <li class="nav-item mr-5"><a href="">Accueil</a></li>
            <li class="nav-item mr-5"><a id="login_link">login</a></li>
            <li class="nav-item mr-5"><a href="">Compte</a></li>
        </ul>
    </nav>
{% endblock %}